.s8{font-size:8px!important}
.s10{font-size:10px!important}
.s12{font-size:12px!important}
.s14{font-size:14px!important}
.s16{font-size:16px!important}
.s18{font-size:18px!important}
.s20{font-size:20px!important}
.s22{font-size:22px!important}
.s24{font-size:24px!important}
.s26{font-size:26px!important}
.s28{font-size:28px}
.s30{font-size:30px}
.s32{font-size:32px!important}
.s34{font-size:34px!important}
.s36{font-size:36px!important}
.s38{font-size:38px!important}
.s64{font-size:64px!important}
.color-white{color:#fff!important}
.color-red-lighter{color:#ffebee!important}
.color-red-light{color:#ffcdd2!important}
.color-red{color:#f44336!important}
.color-red-dark{color:#d32f2f!important}
.color-red-darker{color:#b71c1c!important}
.color-blue-lighter{color:#e3f2fd!important}
.color-blue-light{color:#90caf9!important}
.color-blue{color:#2196f3!important}
.color-blue-dark{color:#1976d2!important}
.color-blue-darker{color:#0d47a1!important}
.color-green-lighter{color:#e8f5e9!important}
.color-green-light{color:#a5d6a7!important}
.color-green{color:#4caf50!important}
.color-green-dark{color:#388e3c!important}
.color-green-darker{color:#1b5e20!important}
.color-yellow-lighter{color:#fffde7!important}
.color-yellow-light{color:#fff59d!important}
.color-yellow{color:#ffeb3b!important}
.color-yellow-dark{color:#fbc02d!important}
.color-yellow-darker{color:#f57f17!important}
.color-gray-lighter1{color:#fafafa!important}
.color-gray-lighter{color:#eceff1!important}
.color-gray-light{color:#cfd8dc!important}
.color-gray{color:#607d8b!important}
.color-gray-dark{color:#455a64!important}
.color-gray-darker{color:#263238!important}
.color-hover-white:hover{color:#fff!important}
.color-hover-red-lighter:hover{color:#ffebee!important}
.color-hover-red-light:hover{color:#ffcdd2!important}
.color-hover-red:hover{color:#f44336!important}
.color-hover-red-dark:hover{color:#d32f2f!important}
.color-hover-red-darker:hover{color:#b71c1c!important}
.color-hover-blue-lighter:hover{color:#e3f2fd!important}
.color-hover-blue-light:hover{color:#90caf9!important}
.color-hover-blue:hover{color:#2196f3!important}
.color-hover-blue-dark:hover{color:#1976d2!important}
.color-hover-blue-darker:hover{color:#0d47a1!important}
.color-hover-green-lighter:hover{color:#e8f5e9!important}
.color-hover-green-light:hover{color:#a5d6a7!important}
.color-hover-green:hover{color:#4caf50!important}
.color-hover-green-dark:hover{color:#388e3c!important}
.color-hover-green-darker:hover{color:#1b5e20!important}
.color-hover-yellow-lighter:hover{color:#fffde7!important}
.color-hover-yellow-light:hover{color:#fff59d!important}
.color-hover-yellow:hover{color:#ffeb3b!important}
.color-hover-yellow-dark:hover{color:#fbc02d!important}
.color-hover-yellow-darker:hover{color:#f57f17!important}
.color-hover-gray-lighter1:hover{color:#fafafa!important}
.color-hover-gray-lighter:hover{color:#eceff1!important}
.color-hover-gray-light:hover{color:#cfd8dc!important}
.color-hover-gray:hover{color:#607d8b!important}
.color-hover-gray-dark:hover{color:#455a64!important}
.color-hover-gray-darker:hover{color:#263238!important}
.bg-white{background-color:#fff!important}
.bg-red-lighter{background-color:#ffebee!important}
.bg-red-light{background-color:#ffcdd2!important}
.bg-red{background-color:#f44336!important}
.bg-red-dark{background-color:#d32f2f!important}
.bg-red-darker{background-color:#b71c1c!important}
.bg-blue-lighter{background-color:#e3f2fd!important}
.bg-blue-light{background-color:#90caf9!important}
.bg-blue{background-color:#2196f3!important}
.bg-blue-dark{background-color:#1976d2!important}
.bg-blue-darker{background-color:#0d47a1!important}
.bg-green-lighter{background-color:#e8f5e9!important}
.bg-green-light{background-color:#a5d6a7!important}
.bg-green{background-color:#4caf50!important}
.bg-green-dark{background-color:#388e3c!important}
.bg-green-darker{background-color:#1b5e20!important}
.bg-yellow-lighter{background-color:#fffde7!important}
.bg-yellow-light{background-color:#fff59d!important}
.bg-yellow{background-color:#ffeb3b!important}
.bg-yellow-dark{background-color:#fbc02d!important}
.bg-yellow-darker{background-color:#f57f17!important}
.bg-gray-lighter1{background-color:#fafafa!important}
.bg-gray-lighter{background-color:#eceff1!important}
.bg-gray-light{background-color:#cfd8dc!important}
.bg-gray{background-color:#607d8b!important}
.bg-gray-dark{background-color:#455a64!important}
.bg-gray-darker{background-color:#263238!important}
.b{border:1px solid #cfd8dc!important}
.bt{border-top:1px solid #cfd8dc!important}
.br{border-right:1px solid #cfd8dc!important}
.bb{border-bottom:1px solid #cfd8dc!important}
.bl{border-left:1px solid #cfd8dc!important}
.btlr{border-top-left-radius:2px!important}
.btrr{border-top-right-radius:2px!important}
.bblr{border-bottom-left-radius:2px!important}
.bbrr{border-bottom-right-radius:2px!important}
.brall{border-radius:2px!important}
.bn{border:none!important}
.bnt{border-top:none!important}
.bnb{border-bottom:none!important}
.bnl{border-left:none!important}
.bnr{border-right:none!important}
.brad0{border-radius:0!important}
.btlr0{border-top-left-radius:0!important}
.btrr0{border-top-right-radius:0!important}
.bblr0{border-bottom-left-radius:0!important}
.bbrr0{border-bottom-right-radius:0!important}
.brad{border-radius:2px!important}
.bbdashed{border-bottom:1px dashed #cfd8dc!important}
.vat{vertical-align:top!important}
.vam{vertical-align:middle!important}
.vab{vertical-align:bottom!important}
.row.no-padding{margin-left:0;margin-right:0}
.row.no-padding [class^=col-]{padding:0}
.row.no-margin{margin-left:0;margin-right:0}
.row.padding [class^=col-]{padding-left:15px;padding-right:15px}
.m0{margin:0!important}
.m5{margin:5px!important}
.m10{margin:10px!important}
.m15{margin:15px!important}
.m20{margin:20px!important}
.m25{margin:25px!important}
.m30{margin:30px!important}
.mt0{margin-top:0!important}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt50{margin-top:50px!important}
.mt100{margin-top:100px!important}
.mt150{margin-top:150px!important}
.mt200{margin-top:200px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb50{margin-bottom:50px!important}
.ml0{margin-left:0!important}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px!important}
.ml20{margin-left:20px!important}
.ml25{margin-left:25px!important}
.ml30{margin-left:30px!important}
.mlm5{margin-top:-5px!important}
.mlm10{margin-top:-10px!important}
.mlm15{margin-top:-15px!important}
.mlm20{margin-top:-20px!important}
.mlm25{margin-top:-25px!important}
.mtm5{margin-top:-5px!important}
.mtm10{margin-top:-10px!important}
.mtm15{margin-top:-15px!important}
.mtm20{margin-top:-20px!important}
.mtm25{margin-top:-25px!important}
.mrm5{margin-top:-5px!important}
.mrm10{margin-top:-10px!important}
.mrm15{margin-top:-15px!important}
.mrm20{margin-top:-20px!important}
.mrm25{margin-top:-25px!important}
.mbm5{margin-top:-5px!important}
.mbm10{margin-top:-10px!important}
.mbm15{margin-top:-15px!important}
.mbm20{margin-top:-20px!important}
.mbm25{margin-top:-25px!important}
.p0{padding:0!important}
.p5{padding:5px!important}
.p10{padding:10px!important}
.p15{padding:15px!important}
.p20{padding:20px!important}
.p25{padding:25px!important}
.p30{padding:30px!important}
.pt0{padding-top:0!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt40{padding-top:40px!important}
.pt50{padding-top:50px!important}
.pt60{padding-top:60px!important}
.pt70{padding-top:70px!important}
.pt80{padding-top:80px!important}
.pt90{padding-top:90px!important}
.pt100{padding-top:100px!important}
.pr0{padding-right:0!important}
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr15{padding-right:15px!important}
.pr20{padding-right:20px!important}
.pr25{padding-right:25px!important}
.pr30{padding-right:30px!important}
.pb0{padding-bottom:0!important}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pl0{padding-left:0!important}
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl15{padding-left:15px!important}
.pl20{padding-left:20px!important}
.pl25{padding-left:25px!important}
.pl30{padding-left:30px!important}
.per5{width:5%!important}
.per10{width:10%!important}
.per15{width:15%!important}
.per20{width:20%!important}
.per25{width:25%!important}
.per30{width:30%!important}
.per35{width:35%!important}
.per40{width:40%!important}
.per45{width:45%!important}
.per50{width:50%!important}
.per55{width:55%!important}
.per60{width:60%!important}
.per65{width:65%!important}
.per70{width:70%!important}
.per75{width:75%!important}
.per80{width:80%!important}
.per85{width:85%!important}
.per90{width:90%!important}
.per95{width:95%!important}
.per100{width:100%!important}
.strong{font-weight:700}
.uppercase{text-transform:uppercase}
.normal{font-weight:400}
.text-ellipsis{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.relative{position:relative}
.absolute{position:absolute}
.rotate0{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
.rotate15{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}
.rotate30{-webkit-transform:rotate(30deg);-ms-transform:rotate(30deg);transform:rotate(30deg)}
.rotate45{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.rotate60{-webkit-transform:rotate(60deg);-ms-transform:rotate(60deg);transform:rotate(60deg)}
.rotate75{-webkit-transform:rotate(75deg);-ms-transform:rotate(75deg);transform:rotate(75deg)}
.rotate90{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.rotate105{-webkit-transform:rotate(105deg);-ms-transform:rotate(105deg);transform:rotate(105deg)}
.rotate120{-webkit-transform:rotate(120deg);-ms-transform:rotate(120deg);transform:rotate(120deg)}
.rotate135{-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg)}
.rotate150{-webkit-transform:rotate(150deg);-ms-transform:rotate(150deg);transform:rotate(150deg)}
.rotate165{-webkit-transform:rotate(165deg);-ms-transform:rotate(165deg);transform:rotate(165deg)}
.rotate180{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.rotateM15{-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);transform:rotate(-15deg)}
.rotateM30{-webkit-transform:rotate(-30deg);-ms-transform:rotate(-30deg);transform:rotate(-30deg)}
.rotateM45{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.rotateM60{-webkit-transform:rotate(-60deg);-ms-transform:rotate(-60deg);transform:rotate(-60deg)}
.rotateM75{-webkit-transform:rotate(-75deg);-ms-transform:rotate(-75deg);transform:rotate(-75deg)}
.rotateM90{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}
.rotateM105{-webkit-transform:rotate(-105deg);-ms-transform:rotate(-105deg);transform:rotate(-105deg)}
.rotateM120{-webkit-transform:rotate(-120deg);-ms-transform:rotate(-120deg);transform:rotate(-120deg)}
.rotateM135{-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg)}
.rotateM150{-webkit-transform:rotate(-150deg);-ms-transform:rotate(-150deg);transform:rotate(-150deg)}
.rotateM165{-webkit-transform:rotate(-165deg);-ms-transform:rotate(-165deg);transform:rotate(-165deg)}
.rotateM180{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg)}
.minw10{min-width:10px}
.minw20{min-width:20px}
.minw30{min-width:30px}
.minw40{min-width:40px}
.minw50{min-width:50px}
.minw60{min-width:60px}
.minw70{min-width:70px}
.minw80{min-width:80px}
.minw90{min-width:90px}
.minw100{min-width:100px}
.minw150{min-width:150px}
.minw200{min-width:200px}
.minw250{min-width:250px}
.minw300{min-width:30px}
.maxw10{max-width:10px}
.maxw20{max-width:20px}
.maxw30{max-width:30px}
.maxw40{max-width:40px}
.maxw50{max-width:50px}
.maxw60{max-width:60px}
.maxw70{max-width:70px}
.maxw80{max-width:80px}
.maxw90{max-width:90px}
.maxw100{max-width:100px}
.maxw150{max-width:150px}
.maxw200{max-width:200px}
.maxw250{max-width:250px}
.maxw300{max-width:300px}
.maximum-w{max-width:100%}
.maximum-h{max-height:100%}